.board-container {
    width: 35vw;
    height: 35vw;
    border: 12px solid black;
    border-radius: 12px;
    margin: 0 auto;
    min-width: 300px;
    min-height: 300px;
    max-width: 700px;
    max-height: 700px;
}

.board {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    width: 100%;
    height: 100%;
    background: gray;
}

.cell {
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 1px 0 white, inset -1px -1px 0 #477413;
    display: flex;
}

.playable {
    background: white;
    cursor: pointer;
}