.board-container {
    width: 35vw;
    height: 35vw;
    border: 15px solid rgb(30, 79, 134);
    border-radius: 12px;
    margin: 0 auto;
    min-width: 300px;
    min-height: 300px;
    max-width: 700px;
    max-height: 700px;
}


.board4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    height: 100%;
    background: gray;
}

.board6 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    width: 100%;
    height: 100%;
    background: gray;
}

.board8 {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    width: 100%;
    height: 100%;
    background: gray;
}

.cell {
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 1px 0 white, inset -1px -1px 0 white;
    display: flex;
}

.playable {
    background: rgb(211, 209, 209);
    cursor: pointer;
}