.jeton {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 3px 3px 0 #555;
    margin: auto;
}
.white {
    background: rgb(255, 115, 0);
}
.black {
    background: rgb(30, 79, 134);
}