h1 {
    text-align: center
}

.score_container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h2 {
    padding: 6px 5px 3px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

.dashboard {
    width: 50vw;
    margin: auto;
    min-width: 300px;
    max-width: 700px;
}

@keyframes blink_orange {
    0% { background: #fff; }
    100% { background: rgb(255, 115, 0); }
  }

.current_player_2 {
    font-weight: bold;
    animation: blink_orange 1s linear infinite;
}

@keyframes blink_blue {
    0% { background: #fff; }
    100% { background: rgb(0, 89, 255); }
  }

.current_player_1 {
    font-weight: bold;
    animation: blink_blue 1s linear infinite;
}